html {
    font-size: 15px;
}

body {
    background-color:dimgray;
    color:black;
}

a {
    color: darkblue;
}

a:visited {
    color:darkblue;
}

a:hover {
    color: darkred
}

table, tr, th, td, caption {

    border: 1px solid black;

    font-family: Georgia, 'Times New Roman', Times, serif;

    border-collapse: collapse;

    padding: 0.5rem;
}