html {
    font-size: 15px;
}

body {
    background-color:dimgray;
    color:black;
}

a {
    color: darkblue;
}

a:visited {
    color:darkblue;
}

a:hover {
    color: darkred
}

table, tr, th, td, caption {

    border: 1px solid black;

    font-family: Helvetica;

    border-collapse: collapse;
    border-width: 0.4rcap;
    border-style:ridge;
    padding: 0.5rem;

    text-align: center;
}

summary {font-family: Georgia; font-size: large;}

form {font-family: Georgia; font-size: large; font-style: italic; text-align: justify;}


button, input, textarea, select {
    font: inherit;
}